	/*每个页面公共css */
	@import "./components/uview-ui/index.scss";
	
	.im-background-color{
		background-color: #e7fffb;
	}
	
	.im-background-color_2{
		background-color: #fab4b6;
	}
	
	.im-background-color_3{
		background-color: #fcf7cd;
	}